TYPE=Ethernet
BOOTPROTO=none
NAME={{ name }}
DEVICE={{ name }}
ONBOOT=yes
IPADDR={{ ip }}
PREFIX={{ netmask }}
{% if gateway -%}
GATEWAY={{ gateway }}
{% endif -%}
{% set count = namespace(value=1) -%}
{% for dnsServer in dns -%}
DNS{{ count.value }}={{ dnsServer }}
{% set count.value = count.value + 1 -%}
{% endfor -%}
{% if mtu -%}
MTU={{ mtu }}
{% else -%}
MTU=1500
{% endif -%}